{% extends 'base.html.twig' %}

{% block content %}

<div class="container marketing">


          <h1>{{ post.title }}</h1>
            <div>
              <img src="{{ asset('/photo/' ~ post.image) }}"  /><br>
              <small>Ecrit par Toto le {{  post.datePosted | date('d/m/Y à H:i:s') }}</small>
              <p>
                  {{ post.content }}
              </p>
              <p>
                <a href="">Voir les autres posts de la catégorie {{ post.category }}</a>
              </p>
            </div>

          <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Commentaires ({{ comments | length }})</h3>
                </div><!-- /col-sm-12 -->
            </div><!-- /row -->
            <div class="row">
                {% for c in comments %}
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->

                <div class="col-sm-11">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{ c.pseudo }}</strong> <span class="text-muted">{{  c.datePosted | date('d/m/Y à H:i:s') }}</span>
                        </div>
                        <div class="panel-body">
                            {{ c.content }}
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->
                {% endfor %}
            </div><!-- /row -->
        </div><!-- /container -->

{% endblock %}